.one
{
    background-color: gray;
    height: 500px;
    width: 1000px;
    margin-left: 165px;
    margin-top: 75px;
}
.one_p2
{
    color:white; 
    font-size: 20px; 
    font-style:initial; 
    margin-left: 15px;
    margin-top: 70px;
}